In [1]:
from pymongo import MongoClient
import pandas as pd
import requests
import json
from getpass import getpass
import time

In [2]:
raw_df = pd.read_csv('../data/video_games_companies.csv')

raw_df

In [3]:
null_cities_count = raw_df['city'].isnull().sum()
null_cities_count

300

In [4]:
# Assuming 'companies_df' is your DataFrame with the data extracted from MongoDB
country_counts = df['country_code'].value_counts().head(10)

# Convert the Series to a DataFrame
top_countries_df = country_counts.reset_index()
top_countries_df.columns = ['Country', 'Number of Companies']

# Now 'top_countries_df' is the DataFrame with the top 10 countries
top_countries_df

NameError: name 'df' is not defined

In [ ]:
# Calculate the value counts for the 'city' column to get the number of companies per city, including nulls
city_counts = df['city'].value_counts(dropna=False).reset_index()

# Rename the columns for clarity
city_counts.columns = ['City', 'Number of Companies']

# Get the top cities including nulls (if any)
top_cities_df = city_counts.head(10)

# Display the DataFrame
top_cities_df

In [ ]:
# Filter the DataFrame for companies in the USA
usa_companies_df = df[df['country_code'] == 'USA']

# Calculate the value counts for the 'city' column to get the number of companies per city, including nulls
city_counts = usa_companies_df['city'].value_counts(dropna=False).reset_index()

# Rename the columns for clarity
city_counts.columns = ['City', 'Number of Companies']

# Get the top cities including nulls (if any)
top_cities_df = city_counts.head(10)

# Display the DataFrame
top_cities_df

In [ ]:
# Filter the DataFrame for companies in the USA, including NaN values in the city column
usa_companies_df = df[df['country_code'] == 'USA']

# Get the top 10 cities with NaN values included
city_counts = usa_companies_df['city'].value_counts(dropna=False).reset_index()
city_counts.columns = ['City', 'Number of Companies']

# Get the top 10 cities including NaN values
top_cities_df = city_counts.head(10)

# Display the DataFrame including all columns for the top cities (including NaN values)
top_usa_cities_df = usa_companies_df[
    usa_companies_df['city'].isin(top_cities_df['City']) | usa_companies_df['city'].isna()
]

# Display the result
top_usa_cities_df

### Should I look for the null cities even without knowing number of employees? I will do it in case Im not happy with the options I get that have the right values in the number_of_employees column.

In [ ]:
# Filter for only the rows with NaN values in the city column from top_usa_cities_df
null_cities_df = top_usa_cities_df[top_usa_cities_df['city'].isnull()].copy()

# Display the DataFrame with null city values
null_cities_df

I can see that the only rows with number_of_employees value are much less than 90 so Im not using any of the rows without city value for now.

In [ ]:
top_usa_cities_df.to_csv('../data/required_companies.csv', index=False)